/* Index */

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

.body__tictactoe {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='160' height='160' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 1)'/><path d='M121.5 39.5V9.169c0-2.827 1.724-4.707 3.473-5.602l.707-.362c2.086-1.068 4.702-.631 6.359 1.026l1.985 1.985c1.349 1.349 3.235 2.018 5.14 2.128 12.336 0 12.336-18.505 0-18.505M40.75 39.499V9.17c0-2.827-1.724-4.707-3.473-5.602l-.707-.362c-2.086-1.068-4.702-.631-6.359 1.026l-1.985 1.985c-1.349 1.349-3.236 2.018-5.14 2.128-12.336 0-12.336-18.505 0-18.505m146.575 111.248c0-12.337-18.505-12.337-18.505 0 .11 1.904.78 3.79 2.128 5.139l1.985 1.985c1.657 1.657 2.094 4.273 1.026 6.36l-.362.706c-.895 1.75-2.775 3.474-5.602 3.474l-30.33-.001m49.66-63.086c0 12.336-18.505 12.336-18.505 0 .11-1.904.78-3.791 2.128-5.14l1.985-1.985c1.657-1.657 2.094-4.273 1.026-6.359l-.362-.707c-.895-1.749-2.775-3.474-5.602-3.473h-30.33m19.162 130.344c12.337 0 12.337-18.505 0-18.505-1.631 0-3.99.98-5.139 2.128l-1.985 1.985c-1.656 1.656-4.274 2.094-6.36 1.027l-.706-.362c-2.086-1.069-3.474-3.258-3.474-5.602v-34.302l.001-26.228c0-2.344-1.427-4.458-3.473-5.602l-.707-.361a5.83 5.83 0 00-6.36 1.026l-1.984 1.985c-1.144 1.152-3.508 2.128-5.14 2.128-12.336 0-12.336-18.505 0-18.505 1.904.11 3.715.86 5.14 2.128l1.985 1.985a5.812 5.812 0 006.359 1.026l.707-.362c1.287-1.485 3.473-2.775 3.473-5.602v-30.33M23.086 168.343c-12.336 0-12.336-18.505 0-18.505 1.632 0 3.992.98 5.14 2.128l1.985 1.985c1.656 1.656 4.274 2.094 6.359 1.027l.707-.362c2.086-1.069 3.474-3.258 3.474-5.602l-.001-34.302V88.485c0-2.344 1.387-4.533 3.473-5.602l.707-.361c2.085-1.068 4.703-.63 6.359 1.026l1.985 1.985c1.148 1.148 3.508 2.128 5.14 2.128 12.336 0 12.336-18.505 0-18.505-1.905.11-3.791.78-5.14 2.128l-1.985 1.985c-1.657 1.657-4.273 2.094-6.36 1.026l-.706-.362c-1.75-.895-3.474-2.775-3.474-5.602v-30.33m80.75 80.749H91.17c-2.827 0-4.707 1.724-5.602 3.473l-.362.707c-1.068 2.086-.631 4.702 1.026 6.359l1.985 1.985c1.349 1.349 2.018 3.236 2.128 5.14 0 12.336-18.505 12.336-18.505 0 0-1.632.98-3.992 2.128-5.14l1.985-1.985c1.656-1.656 2.094-4.274 1.026-6.359l-.361-.707c-1.069-2.086-3.258-3.474-5.602-3.473h-60.53c-2.344 0-4.533-1.387-5.602-3.473l-.362-.707c-1.067-2.085-.63-4.703 1.027-6.359l1.985-1.985c1.148-1.148 2.128-3.508 2.128-5.14 0-12.336-18.505-12.336-18.505 0M121.5 38H91.169c-2.827 0-4.707-1.724-5.602-3.473l-.362-.707c-1.068-2.086-.631-4.702 1.026-6.359l1.985-1.985c1.349-1.349 2.018-3.235 2.128-5.14C90.344 8 71.84 8 71.84 20.337c0 1.632.977 3.994 2.128 5.14.663.66 1.343 1.305 1.985 1.985 1.608 1.703 2.003 4.23 1.026 6.36-.11.24-.233.474-.361.706C75.48 36.577 73.359 38 71.015 38H36.712L10.485 38c-2.344 0-4.533 1.387-5.602 3.473-.12.236-.24.471-.362.707-1.067 2.085-.63 4.703 1.027 6.36l1.985 1.984c1.148 1.148 2.128 3.508 2.128 5.14C9.66 68-8.844 68-8.844 55.664'  stroke-width='1.5' stroke='hsla(259, 0%, 25%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.header__tictactoe {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 4rem;
    background: none;
}

.titulo__tictactoe {
    color: #FFFFFF;
    font-size: 5rem;
    text-align: center;
    font-family: 'Retro Land Mayhem', sans-serif;
}

.div__tictactoe {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;  
    justify-content: end;
    width: fit-content;
    margin-left: 120rem;
}

.div__tictactoe a {
    color: #FFFFFF;
    margin: 4.2rem 6rem;
    font-size: 2rem;
    font-family: 'Retro Land Mayhem', sans-serif;
    border: dotted greenyellow 0.5rem;
    padding: 1rem;
}

.reglas-generales {
    width: fit-content;
    align-self: center;
    margin-top: 3rem;
}

.reglas-generales p {
    display: flex;
    flex-flow: column wrap;
}

.reglas-titulo {
    color: #6e6e6e;
    font-size: 3rem;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px 2px 2px rgba(206,89,55,0);
}

.reglas {
    margin: auto;
    font-size: 2rem;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 0 0 10px #FFFFFF;
}

.main__tictactoe {
    margin: 0 3rem 6rem;
    display: flex;
}

.grilla-1 {
    display: grid;
    grid-template-columns: repeat(3, 21.5rem);
    grid-template-rows: repeat(3, 21.5rem);
    gap: 2rem;
    margin: auto;
    width: fit-content;
    place-content: center;
    background-color: black;
}

.capa-o {
    background-image: url(./imagenes/circle.png);
    background-color: #FFFFFF;
    user-select: none;
    position: absolute;
    width: 21.5rem;
    height: 21.5rem;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 5px #D8D8D8;
    background-position: center;
    background-size: 100%;
}

.capa-x {
    background-image: url(./imagenes/equis.png);
    background-color: #FFFFFF;
    user-select: none;
    position: absolute;
    border-radius: 10px;
    width: 21.5rem;
    height: 21.5rem;
    background-position: center;
    background-size: 100%;
}

.capa-cero {
    background-color: #FFFFFF;
    user-select: none;
    position: absolute;
    width: 21.5rem;
    height: 21.5rem;
    border-radius: 10px;
}

.grilla-1 input {
    display: none;
}

.grilla-1 input:checked + label {
    width: 0.01rem;
    height: 0.01rem;
}

#tictactoe1 + label,
#tictactoe2 + label,
#tictactoe3 + label,
#tictactoe4 + label,
#tictactoe5 + label,
#tictactoe6 + label,
#tictactoe7 + label,
#tictactoe8 + label,
#tictactoe9 + label {

    pointer-events: none;

}

/* Media Queries Index */

@media only screen and (max-width: 768px){
    .titulo__tictactoe {
        margin-right: 2rem;
    }

    .div__tictactoe {
        width: 100%;
        margin: 0;
    }

    .grilla-1 {
        grid-template-columns: repeat(3,17rem);
        grid-template-rows: repeat(3,17rem);
        margin-bottom: 7rem;
    }

    .capa-o, .capa-x, .capa-cero {
        width: 17rem;
        height: 17rem;
    }

    .main__tictactoe {
        margin: auto;
    }
}

@media only screen and (max-width: 480px){
    .header__tictactoe {
        align-content: center;
    }

    .titulo__tictactoe {
        margin: 0;
    }

    .grilla-1 {
        grid-template-columns: repeat(3,10rem);
        grid-template-rows: repeat(3,10rem);
    }

    .capa-cero, .capa-o, .capa-x {
        width: 10rem;
        height: 10rem;
    }

    .div__tictactoe {
        position: relative;
        width: fit-content;
        height: fit-content;
        justify-content: start;
        margin: 3rem 0 0 0;
        order: 2;
    }

    .div__tictactoe a {
        margin: 0;
    }
}

@media only screen and (max-width: 375px){
    
    .grilla-1 {
        grid-template-columns: repeat(3, 8rem);
        grid-template-rows: repeat(3, 8rem);
    }

    .capa-cero, .capa-o, .capa-x {
        width: 8rem;
        height: 8rem;
    }

    .div__tictactoe, .div__tictactoe-2 {
        margin: 3rem 0 0 0;
    }
}